*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#111827;
    color:white;

}

header{

    text-align:center;
    padding:30px;
    background:#1f2937;

}

header h1{

    margin-bottom:10px;

}

.container{

    width:90%;
    max-width:900px;
    margin:30px auto;

}

.form{

    display:flex;
    flex-direction:column;
    gap:15px;

}

input,
select,
textarea{

    padding:12px;
    border:none;
    border-radius:8px;
    font-size:16px;

}

textarea{

    height:120px;
    resize:none;

}

button{

    padding:14px;
    background:#facc15;
    color:black;
    border:none;
    cursor:pointer;
    border-radius:8px;
    font-size:17px;
    font-weight:bold;

}

button:hover{

    background:#fde047;

}

.movie{

    background:#1f2937;
    margin-top:25px;
    padding:20px;
    border-radius:10px;

}

.movie h2{

    margin-bottom:10px;

}

.rating{

    color:gold;
    font-size:20px;

}

.review{

    margin-top:10px;
    line-height:1.5;

}

.delete{

    margin-top:15px;
    background:#dc2626;
    color:white;

}

.delete:hover{

    background:#ef4444;

}